<div class="outer-container">
  <div class="container">
    <div class="title">
      <h1>Formulario de Registro</h1>
    </div>
    <form
      class="form-container"
      [formGroup]="productForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="grid-container">
        <div>
          <label for="name">ID:</label>
          <input
            type="text"
            id="id"
            name="id"
            formControlName="id"
            (input)="onIdInputChange()"
            [ngClass]="{ 'error-input': hasError('id') }"
          />
          <div *ngIf="hasError('id')">
            <div>{{ getErrorMessage("id") }}</div>
          </div>
        </div>
        <div>
          <label for="name">Nombre:</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            [ngClass]="{ 'error-input': hasError('name') }"
          />
          <div *ngIf="hasError('name')">
            <div>{{ getErrorMessage("name") }}</div>
          </div>
        </div>
        <div>
          <label for="description">Descripción:</label>
          <input
            id="description"
            formControlName="description"
            [ngClass]="{ 'error-input': hasError('description') }"
          />
          <div *ngIf="hasError('description')">
            <div>{{ getErrorMessage("description") }}</div>
          </div>
        </div>
        <div>
          <label for="logo">Logo:</label>
          <input
            type="text"
            id="logo"
            formControlName="logo"
            [ngClass]="{ 'error-input': hasError('logo') }"
          />
          <div *ngIf="hasError('logo')">
            <div>{{ getErrorMessage("logo") }}</div>
          </div>
        </div>
        <div>
          <label for="date_release">Fecha de liberación:</label>
          <input
            type="date"
            id="date_release"
            name="date_release"
            required
            formControlName="date_release"
            min="{{ getCurrentDate() | date : 'yyyy-MM-dd' }}"
            (change)="onDateReleaseChange($event)"
            [ngClass]="{ 'error-input': hasError('date_release') }"
          />
          <div *ngIf="hasError('date_release')">
            <div>{{ getErrorMessage("date_release") }}</div>
          </div>
        </div>
        <div>
          <label for="date_revision">Fecha de revisión:</label>
          <input
            type="date"
            id="date_revision"
            formControlName="date_revision"
            readonly
            [ngClass]="{ 'error-input': hasError('date_revision') }"
          />
          <div *ngIf="hasError('date_revision')">
            <div>{{ getErrorMessage("date_revision") }}</div>
          </div>
        </div>
      </div>
      <div class="buttons">
        <button type="button" (click)="resetForm()">Reiniciar</button>
        <button type="submit" [disabled]="productForm.invalid">Enviar</button>
      </div>
    </form>
  </div>
</div>

<app-alert-modal
  *ngIf="isModalVisible"
  [message]="message"
  [showButtons]="showModalButtons"
  [isModalVisible]="isModalVisible"
  (cancelClicked)="closeModal()"
></app-alert-modal>
